<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599630941400-4i65svn9rh7i77mvernc1eh7dn3ctqgp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599630941400-4i65svn9rh7i77mvernc1eh7dn3ctqgp</string>
	<key>API_KEY</key>
	<string>AIzaSyAF1rK9pl0Tw04NnEPiuxOkWw37Zg6p3wE</string>
	<key>GCM_SENDER_ID</key>
	<string>599630941400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>happyappsorg.SportsQuant</string>
	<key>PROJECT_ID</key>
	<string>sportsquant-578a8</string>
	<key>STORAGE_BUCKET</key>
	<string>sportsquant-578a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599630941400:ios:9c8ac7a421828155739bad</string>
	<key>DATABASE_URL</key>
	<string>https://sportsquant-578a8-default-rtdb.firebaseio.com</string>
</dict>
</plist>