<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>Your data will be used to measure our advertising efficiency</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key></key>
	<string></string>
    
    
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>fb788142072257860</string>
      </array>
      </dict>
    </array>
    <key>FacebookAppID</key>
    <string>788142072257860</string>
    <key>FacebookDisplayName</key>
    <string>Resume+</string>
</dict>
</plist>
